{{ define "main" }}
<div class="w-full md:w-4/5 lg:w-3/5 mx-auto px-14 py-12">
    <h1 class="text-5xl font-bold mb-12">{{ .Title }}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {{ range .Data.Terms.ByCount }}
        <a href="{{ .Page.RelPermalink }}" class="block border border-indigo-500 hover:shadow-lg transition-shadow rounded-lg p-4 bg-[#18181b] hover:text-indigo-400 transition-all duration-300">
            <span class="text-xl font-semibold transition-colors">
            {{ .Page.Title }}
            </span>
            <span class="text-gray-400 ml-2">({{ .Count }})</span>
        </a>
        {{ end }}
    </div>
</div>
{{ end }} 